/*
--  Darren Fisher
--  Homework 6
*/

#divOne {
    background-color: azure;
    height: 50px;
    font-size: 25px;
    line-height: 25px;
}
#Background{
    background-color: lightblue;
    height: 100%;
    width: 100%;
    font-weight: 400;
}
#headerShowDate{
    background-color: azure;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    float: left;
}
#middleDatashow{
    background-color: azure;
    height: 150px;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
}
#middleDataShowBigger{
    background-color: azure;
    height: 200px;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
}
#HeaderForDesc{
    font-size: 20px;
    font-weight: 600;
}